*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  background-color: #e2ede9;
  color: #1b6d5a;

  margin: 0;
  padding: 0;

  font-family: "Commissioner", sans-serif;
}

#header {
  display: inline;
}

.nav-container {
  width: 100%;

  padding-block: 0.8rem;
  padding-inline: 4rem;
  margin-inline: auto;

  display: flex;
  position: sticky;
  top: 0;
  left: 0;

  justify-content: space-between;
  align-items: center;
  z-index: 9999;

  background: #cfe3dc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav-container .nav-img img {
  width: 10rem;
}

.nav-container #nav-list ul {
  padding: 0;
  display: flex;

  justify-content: center;
  gap: 2rem;

  list-style-type: none;

  font-size: 1em;
}

.nav-container #nav-list ul a {
  box-sizing: border-box;

  padding: 0.5rem 1rem;

  text-decoration: none;
  color: inherit;

  border-radius: 9999px;

  transition: all 0.2s ease-in-out;
}

.nav-container #nav-list ul a:hover {
  font-weight: 500;

  color: #cfe3dc;
  background-color: #1b6d5a;
}

/* HAMBURGER MENU START */
.nav-container #menu-toogle {
  display: none;
}

.nav-container #menu-toogle img {
  width: 1.5em;
  filter: invert(34%) sepia(42%) saturate(615%) hue-rotate(116deg) brightness(94%) contrast(96%);
}

hr {
  width: 80%;
  height: 0.3rem;

  color: #cfe3dc;
  background-color: #cfe3dc;
  border-radius: 99px;
}

/* HAMBURGER MENU END */
#main {
  display: flex;
  flex-wrap: wrap;
}

#main #main-content {
  box-sizing: border-box;
  width: 70%;
}

#aside {
  box-sizing: border-box;
  padding-block: 3rem;
  padding-inline: 3rem;

  position: relative;
  z-index: 999;

  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 30%;
  height: fit-content;

  border-radius: 1rem 0 0 1rem;
  background-color: #e2ede9;
}

#aside .aside-content {
  height: 25rem;

  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}

#aside .aside-content .content-header {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

#aside .aside-content .content-header .logo-img img {
  width: 90%;
  height: 3.8rem;
}

#aside .aside-content .content-header p {
  font-size: 0.8em;
}

#aside .aside-content .content-main {
  display: flex;
  flex-wrap: wrap;

  gap: 0.5rem 0;
}

#aside .aside-content .content-main .service {
  box-sizing: border-box;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;

  display: flex;

  width: 100%;
  height: fit-content;

  background-color: #cfe3dc;
  font-size: 0.5rem;

  align-items: center;
  border-radius: 0.3rem;
}

#aside .aside-content .content-main a {
  text-decoration: none;
  color: inherit;
}

#aside .aside-content .content-main .service .service-img {
  width: 4rem;
  height: 3rem;

  text-align: center;
}

#aside .aside-content .content-main .service .service-img1 img {
  width: 3rem;
  filter: invert(35%) sepia(18%) saturate(1443%) hue-rotate(116deg) brightness(93%) contrast(92%);
}

#aside .aside-content .content-main .service .service-img2 img {
  width: 3rem;
  filter: invert(35%) sepia(18%) saturate(1443%) hue-rotate(116deg) brightness(93%) contrast(92%);
}

#aside .aside-content .content-main .service .service-caption {
  box-sizing: border-box;
  padding-block: 0.5rem;
  display: block;
  width: 70%;
}

#aside .aside-content .content-main .service .service-caption h6.service-title {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  padding-inline-start: 0.8rem;
  padding-block-end: 0.3rem;

  font-size: 1.8em;
  text-transform: uppercase;
}

#aside .aside-content .content-main .service .service-caption p.service {
  padding-inline-start: 0.8rem;
  padding-block: 0;

  font-size: 1.4em;
}

#aside .aside-content .content-footer {
  display: flex;
  gap: 0 1rem;

  align-items: center;
  justify-content: center;
}

#aside .aside-content .content-footer a {
  text-decoration: none;
  color: #e2ede9;
}

#aside .aside-content .content-footer a .sosmed .fab {
  width: 2rem;
  height: 2rem;

  display: flex;

  align-items: center;
  justify-content: center;
  background-color: #1b6d5a;
  border-radius: 999px;
}

#main-content .section {
  box-sizing: border-box;
  width: 100%;
  padding-block: 2rem;

  flex-wrap: nowrap;
  /* border-top: 1px solid #1b6d5a; */

  text-align: center;
}

#main-content .section .title-sect {
  margin: 0;
  margin-bottom: 1rem;

  text-transform: uppercase;
  font-size: 1.5em;
}

/* JUMBOTRON START */
#main #jumbotron {
  box-sizing: border-box;
  padding-block: 3rem;

  display: flex;
  width: 100%;

  background: #e2ede9;
}

#main #jumbotron .side1 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  box-sizing: border-box;
  position: relative;
  padding-inline: 5rem;
  width: 70%;
}

#main #jumbotron .side .jumbotron-content {
  position: relative;

  height: fit-content;
}

#main #jumbotron .side1 .jumbotron-content h1 {
  margin: 0;
  margin-block-end: 2.5rem;

  text-transform: uppercase;
  font-size: 4em;
}

#main #jumbotron .side1 .jumbotron-content a {
  box-sizing: border-box;

  padding: 0.7rem 1.2rem;
  color: inherit;
  border-radius: 0.3rem;

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  text-decoration: none;
  text-transform: capitalize;

  font-weight: 500;
}

#main #jumbotron .side1 .jumbotron-content a:first-of-type {
  background-color: #1b6d5a;
  border: 1px solid #1b6d5a;
  color: #cfe3dc;
}

#main #jumbotron .side1 .jumbotron-content a:last-of-type {
  margin-left: 0.7rem;
  background-color: #e2ede9;
  border: 1px solid #1b6d5a;
}

#main #jumbotron .side1 a img {
  margin-left: 0.5rem;
  width: 1rem;

  filter: invert(100%) sepia(3%) saturate(3552%) hue-rotate(67deg) brightness(97%) contrast(92%);
}

#main #jumbotron .side2 {
  box-sizing: border-box;
  position: relative;
  width: 30%;

  text-align: end;
}

#main #jumbotron .side2 .jumbotron-content {
  position: relative;
}

#main #jumbotron .side2 .jumbotron-content img {
  display: inline;
  position: relative;
  top: 0;
  right: 0;

  width: 22vw;
  transform: scaleX(-1);
}

#main #jumbotron .side2 .jumbotron-content .cap-jumbotron {
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;

  box-sizing: border-box;
  padding: 0.5rem 5rem 0.5rem 1rem;

  border: 1px solid #1b6d5a;
  border-radius: 1rem 0 0 1rem;
  text-transform: capitalize;
  background-color: #1b6d5a;
  color: #e2ede9;

  font-size: 1.1em;
  font-weight: 500;

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
/* JUMBOTRON END */

/* POPULAR MENU START */
#main-content #popular .pop-menu {
  position: relative;

  display: flex;
  gap: 0 1rem;
  height: 13.5rem;

  justify-content: center;
}

#main-content #popular .pop-menu .shape-menu {
  position: absolute;
  bottom: 0;

  height: 7rem;
  width: 40rem;
  background-color: #1b6d5a;

  border-radius: 0 0 1rem 1rem;
}

#main-content #popular .pop-menu a .menu {
  box-sizing: border-box;
  padding-inline: 1rem;
  padding-block: 1rem;

  position: relative;
  z-index: 99;
  top: 0;

  display: flex;
  flex-direction: column;

  width: 11rem;
  height: 11.5rem;

  background-color: #cfe3dc;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

  border-radius: 1rem;
}

#main-content #popular .pop-menu a {
  text-decoration: none;

  color: inherit;
  font-family: inherit;
}

#main-content #popular .pop-menu a .menu .img-menu {
  position: relative;

  width: 100%;
  height: 7rem;

  background-color: #e2ede9;

  border-radius: 0.5rem;
}

#main-content #popular .pop-menu a .menu .img-menu .price {
  box-sizing: border-box;
  padding: 0.5rem 0.3rem;

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #1b6d5a;
  color: #e2ede9;

  font-size: 0.8rem;

  border-radius: 1rem 0 1rem 1rem;
}

#main-content #main-content #popular .pop-menu a .menu .img-menu .price p {
  color: #e2ede9;

  font-size: 0.7em;
  font-weight: 500;
}

#main-content #popular .pop-menu a .menu .img-menu {
  display: flex;
}

#main-content #popular .pop-menu a .menu .img-menu .img {
  align-items: center;
  margin: auto;

  width: 85%;
  height: 5rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#main-content #popular .pop-menu a .menu .img-menu .img-menu1 {
  background-image: url("../img/latte.png");
  transform: scaleX(-1);
}

#main-content #popular .pop-menu a .menu .img-menu .img-menu2 {
  background-image: url("../img/americano.png");
}

#main-content #popular .pop-menu a .menu .img-menu .img-menu3 {
  background-image: url("../img/cappucino.png");
  transform: scaleX(-1);
}

#main-content #popular .pop-menu a .menu div:last-of-type {
  box-sizing: border-box;
  margin-block-start: 0.5rem;
  padding-inline: 0.4rem;

  width: 100%;
  height: fit-content;

  text-align: start;
}

#main-content #popular .pop-menu a .menu div:last-of-type h5,
p {
  padding: 0;
  margin: 0;
}

#main-content #popular .pop-menu a .menu div:last-of-type h5 {
  font-size: 1em;
}

#main-content #popular .pop-menu a .menu div:last-of-type p {
  font-size: 0.8em;
}

/* DISCOVER START */
#main-content .discover {
  display: flex;
  gap: 0 2rem;

  align-items: center;
}

#main-content .discover div.img {
  width: 40%;
  height: 23rem;

  background-image: url(../img/pic1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 0 1rem 1rem 0;
}

#main-content .discover div.img-caption {
  box-sizing: border-box;
  padding-block: 3rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.5rem 0;

  width: 55%;
  height: 25rem;

  text-align: start;
}

#main-content .discover div.img-caption h3 {
  margin: 0;
  font-size: 3.3em;
}

#main-content .discover div.img-caption p {
  width: 85%;
  font-size: 0.9em;
}

#main-content .discover div.img-caption a {
  box-sizing: border-box;
  padding-block: 0.5rem;
  padding-inline: 1.3rem;

  display: flex;

  background-color: #1b6d5a;
  border-radius: 0.3rem;

  color: #e2ede9;

  text-transform: capitalize;
  text-decoration: none;
  font-size: 0.8em;
  font-family: inherit;
  text-align: start;

  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}
/* DISCOVER END */

/* PRODUCT START */
#main-content #product .menu-section {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: start;
  justify-content: center;

  gap: 0 1.5rem;
}

#main-content #product .menu-section .header-menu {
  width: 100%;
}

#main-content #product .menu-section h4 {
  padding-inline: 5rem 1rem;
  padding-block: 0.6rem;
  width: 14rem;

  background-color: #1b6d5a;
  border-radius: 0 999px 999px 0;
  color: #e2ede9;

  font-size: 0.9em;
  font-weight: 500;
  text-transform: capitalize;
  text-align: start;

  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

#main-content #product .menu-section .btn {
  width: 100%;
  margin: 2rem 0 1rem 0;
}
#main-content #product .menu-section .btn a {
  box-sizing: border-box;
  padding-block: 0.3rem;
  padding-inline: 1.1rem;

  border-radius: 0.3rem;
  border: 1px solid #1b6d5a;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #1b6d5a;

  text-decoration: none;
  font-size: 0.8em;
}

#main-content #product .menu-items {
  gap: 0.8rem;
  height: fit-content;
}

#main-content #product .menu-items a {
  text-decoration: none;
  color: #1b6d5a;
}

#main-content #product .menu-items a .menu {
  box-sizing: border-box;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;

  width: 10rem;
  height: 10.5rem;

  background-color: #cfe3dc;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

  border-radius: 0.5rem;
}

#main-content #product .menu-items a .menu .img-menu {
  box-sizing: border-box;
  padding-inline: 1rem;

  position: relative;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 7rem;

  display: flex;

  border-radius: 0.5rem;
  background-color: #e2ede9;
}

#main-content #product .menu-items a .menu .img-menu img {
  transform: scaleX(-1);
  width: 8rem;
}

#main-content #product .menu-items a .menu .img-menu .americano {
  transform: scaleX(1);
}

#main-content #product .menu-items a .menu .img-menu .long {
  transform: scaleX(1);
  width: 7rem;
}

#main-content #product .menu-items a .menu .beans-img img {
  width: 4rem;
}

#main-content #product .menu-items a .menu .img-menu .price {
  position: absolute;
  top: 0;
  right: 0;

  margin: 0;

  padding: 0.3rem 0.2rem;
  z-index: 99;

  background-color: #1b6d5a;
  border-radius: 1rem 0 1rem 1rem;
}

#main-content #product .menu-items a .menu .img-menu .price p {
  padding-block: 0.25rem;
  padding-inline: 0.2rem;
  font-size: 0.75em;
  font-weight: 500;

  color: #e2ede9;
}

#main-content #product .menu-items a .menu .img-menu .img {
  width: 85%;
  height: 3rem;
}

#main-content #product .menu-items a .menu .caption {
  margin-block-start: 0.5rem;
  padding-inline: 0.4rem;

  display: flex;
  flex-direction: column;
  text-align: start;
}

#main-content #product .menu-items a .menu .caption h5 {
  margin: 0;
  font-size: 0.9em;
}

#main-content #product .menu-items a .menu .caption p {
  font-size: 0.6em;
}
/* PRODUCT END */

/* ADVANTAGE START */
#main-content #about .advantage {
  box-sizing: border-box;
  padding-block: 1rem;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 0 1.5rem;
}

#main-content #about .advantage .adv {
  box-sizing: border-box;
  padding-block: 2rem;
  width: 10rem;

  background-color: #cfe3dc;
  border: 1.5px solid #1b6d5a;
  border-radius: 1rem;

  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

#main-content #about .advantage .adv .adv-img {
  width: 100%;
  height: 70%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#main-content #about .advantage .adv .adv-img img {
  width: 5rem;
  filter: invert(35%) sepia(18%) saturate(1443%) hue-rotate(116deg) brightness(93%) contrast(92%);
}

#main-content #about .advantage .adv .adv-capt {
  width: 100%;
  height: 30%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#main-content #about .advantage .adv .adv-capt h4 {
  margin-bottom: 0;

  display: flex;

  font-size: 0.8em;
  text-transform: uppercase;
}
/* ADVANTAGE END */

/* FOOTER START */
#start {
  box-sizing: border-box;
  padding-block: 0.8rem;

  width: 100%;
  background-color: #1b6d5a;
}

#start h4 {
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
  color: #e2ede9;
}
/* FOOTER END */

/* RESPONSIVE BREAKPOINT LAPTOP */
@media screen and (max-width: 1024px) {
  #main #jumbotron {
    padding-block: 2.8rem;
  }

  #main #jumbotron .side1 .jumbotron-content h1 {
    font-size: 3em;
  }

  #main #jumbotron .side1 .jumbotron-content a {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;

    font-size: 0.9rem;
    font-weight: 500;
  }

  #main #jumbotron .side2 .jumbotron-content img {
    width: 10rem;
  }

  #main #jumbotron .side2 .jumbotron-content .cap-jumbotron {
    box-sizing: border-box;
    padding: 0.5rem 4rem 0.5rem 1rem;

    font-size: 0.8em;
    font-weight: 500;
  }

  #main-content .discover div.img-caption h3 {
    margin: 0;

    font-size: 2.3em;
  }

  #main-content .discover div.img-caption p {
    width: 85%;
    font-size: 0.8em;
  }

  #main-content .discover div.img-caption a {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 0.3rem;

    color: #e2ede9;
    font-size: 0.8em;
  }

  #main-content .section {
    padding-block: 1.8rem;

    flex-wrap: wrap;
  }

  #main-content .section .title-sect {
    margin-bottom: 1rem;
  }

  #main-content #product .menu-section {
    gap: 0 0.7rem;
  }

  #main-content #product .menu-section .menu-items {
    margin-top: 1.5rem;
  }

  #aside {
    padding-block: 1.5rem;
    padding-inline: 1.8rem;

    width: 30%;

    border-radius: 1rem 0 0 1rem;
  }

  #aside .aside-content {
    gap: 1.5rem 0;
    height: fit-content;
  }

  #aside .aside-content .content-header .logo-img img {
    width: 100%;
    height: 3.8rem;
    text-align: center;
  }

  #aside .aside-content .content-header p {
    font-size: 0.7em;
  }

  #aside .aside-content .content-main {
    display: flex;
    flex-wrap: wrap;

    gap: 0.5rem 0;
  }

  #aside .aside-content .content-main .service {
    padding-block: 0.5rem;
    padding-inline: 0.5rem;

    width: 100%;
    height: fit-content;

    font-size: 0.45rem;

    align-items: center;
    border-radius: 0.3rem;
  }

  #aside .aside-content .content-main .service .service-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #aside .aside-content .content-main .service .service-img img {
    width: 2.5rem;
  }

  #aside .aside-content .content-main .service .service-caption h6.service-title {
    padding-inline-start: 0.8rem;
    padding-block-end: 0.3rem;

    font-size: 1.6em;
  }

  #aside .aside-content .content-main .service .service-caption p.service {
    font-size: 1.2em;
  }

  #aside .aside-content .content-footer {
    display: flex;
    gap: 0 0.5rem;

    align-items: center;
    justify-content: center;
  }

  #aside .aside-content .content-footer a {
    text-decoration: none;
    color: #e2ede9;
  }

  #aside .aside-content .content-footer a .sosmed .fab {
    width: 2rem;
    height: 2rem;

    display: flex;

    align-items: center;
    justify-content: center;
    background-color: #1b6d5a;
    border-radius: 999px;
  }
}

/* RESPONSIVE BREAKPOINT TABLET */
@media screen and (max-width: 820px) {
  .nav-container {
    padding-inline: 1rem;
  }

  .nav-container #nav-img img {
    width: 8rem;
  }

  .nav-container #nav-list {
    gap: 0 0.1rem;
  }

  .nav-container #nav-list ul a {
    padding: 0.25rem 0.5rem;
    font-size: 0.7em;
  }

  #main #main-content {
    width: 100%;
  }

  #main-content .section {
    padding-block: 1.8rem;

    flex-wrap: wrap;
  }

  #main-content .section .title-sect {
    margin-bottom: 1rem;

    font-size: 1.2em;
  }

  #main #jumbotron {
    padding-block: 2.8rem;
  }

  #main #jumbotron .side1 {
    padding-inline: 3.8rem;
  }

  #main #jumbotron .side1 .jumbotron-content h1 {
    font-size: 2.1em;
  }

  #main #jumbotron .side1 .jumbotron-content a {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;

    font-size: 0.7rem;
    font-weight: 500;
  }

  #main #jumbotron .side1 .jumbotron-content a:last-of-type {
    margin-left: 0.3rem;
  }

  #main #jumbotron .side1 a img {
    margin-left: 0.3rem;
    width: 0.6rem;
  }

  #main #jumbotron .side2 .jumbotron-content img {
    width: 9rem;
  }

  #main #jumbotron .side2 .jumbotron-content .cap-jumbotron {
    box-sizing: border-box;
    padding: 0.5rem 4rem 0.5rem 1rem;

    font-size: 0.8em;
    font-weight: 500;
  }

  #main-content #popular .pop-menu {
    margin-top: 1rem;

    display: flex;
    gap: 0 0.8rem;
    height: 8.2rem;
  }

  #main-content #popular .pop-menu .shape-menu {
    height: 3rem;
    width: 24rem;

    border-radius: 0 0 0.5rem 0.5rem;
  }

  #main-content #popular .pop-menu a .menu {
    padding-inline: 0.5rem;
    padding-block: 0.5rem;

    width: 6.8rem;
    height: 7.3rem;

    background-color: #cfe3dc;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

    border-radius: 0.5rem;
  }

  #main-content #popular .pop-menu a .menu .img-menu {
    position: relative;

    width: 100%;
    height: 5rem;

    border-radius: 0.5rem;
  }

  #main-content #popular .pop-menu a .menu .img-menu .price {
    padding: 0.3rem 0.2rem;
    z-index: 99;

    border-radius: 1rem 0 1rem 1rem;
  }

  #main-content #popular .pop-menu a .menu .img-menu .price p {
    font-size: 0.5em;
    font-weight: 500;
  }

  #main-content #popular .pop-menu a .menu .img-menu .img {
    width: 85%;
    height: 3rem;
  }

  #main-content #popular .pop-menu a .menu div:last-of-type {
    margin-block-start: 0.2rem;
    padding-inline: 0.4rem;
  }

  #main-content #popular .pop-menu a .menu div:last-of-type h5 {
    font-size: 0.8em;
  }

  #main-content #popular .pop-menu a .menu div:last-of-type p {
    font-size: 0.5em;
  }

  #main-content .discover {
    display: flex;
    gap: 0 1.3rem;
  }

  #main-content .discover div.img {
    width: 35%;
    height: 18rem;

    border-radius: 0 0.8rem 0.8rem 0;
  }

  #main-content .discover div.img-caption {
    padding-block: 3rem;
    gap: 1rem 0;

    width: 55%;
    height: 13rem;
  }

  #main-content .discover div.img-caption h3 {
    margin: 0;
    font-size: 1.8em;
  }

  #main-content .discover div.img-caption p {
    width: 85%;
    font-size: 0.8em;
  }

  #main-content .discover div.img-caption a {
    padding-block: 0.35rem;
    padding-inline: 0.8rem;
    border-radius: 0.3rem;

    color: #e2ede9;
    font-size: 0.7em;
  }

  #main-content #product .menu-items {
    margin-top: 1.5rem;
  }

  #aside {
    position: unset;
    padding-block: 1.5rem;
    padding-inline: 4.5rem;

    z-index: unset;
    width: 100%;

    border-radius: 0;
    box-shadow: none;
  }

  #aside .aside-content {
    gap: 1.5rem 0;
    height: fit-content;

    align-items: center;
    justify-content: center;
  }

  #aside .aside-content .content-header .logo-img {
    height: fit-content;

    display: flex;
    justify-content: center;

    width: 100%;
  }

  #aside .aside-content .content-header .logo-img img {
    width: 8rem;
    height: 2.5rem;
  }

  #aside .aside-content .content-header p {
    font-size: 0.6em;
  }

  #aside .aside-content .content-main {
    display: flex;
    flex-wrap: wrap;
    width: 20rem;

    gap: 0.5rem 0;
  }

  #aside .aside-content .content-main .service {
    flex-wrap: wrap;
    padding-block: 0.5rem;
    padding-inline: 1rem;

    width: fit-content;
    height: fit-content;

    font-size: 0.45rem;

    align-items: center;
    border-radius: 0.3rem;
  }

  #aside .aside-content .content-main .service .service-img {
    width: 15%;
  }

  #aside .aside-content .content-main .service .service-img img {
    width: 2rem;
  }

  #aside .aside-content .content-main .service .service-caption {
    width: 85%;
  }

  #aside .aside-content .content-main .service .service-caption h6.service-title {
    padding-inline-start: 0.8rem;
    padding-block-end: 0.3rem;

    font-size: 1.6em;
  }

  #aside .aside-content .content-main .service .service-caption p.service {
    font-size: 1.3em;
  }

  #aside .aside-content .content-footer {
    display: flex;
    gap: 0 0.3rem;

    align-items: center;
    justify-content: center;
  }

  #aside .aside-content .content-footer a {
    text-decoration: none;
    color: #e2ede9;
  }

  #aside .aside-content .content-footer a .sosmed .fab {
    width: 2rem;
    height: 2rem;

    display: flex;

    align-items: center;
    justify-content: center;
    background-color: #1b6d5a;
    border-radius: 999px;
  }

  #start h4 {
    font-size: 0.6em;
  }
}

/* RESPONSIVE BREAKPOINT HP */
@media screen and (max-width: 576px) {
  .nav-container {
    padding-inline: 2rem;

    flex-wrap: wrap;
    width: 100%;

    top: 0;
  }
  .nav-container .nav-img img {
    width: 8rem;
  }

  .nav-container #nav-list {
    width: 100%;
  }

  .nav-container #nav-list ul {
    padding: 0;
    display: none;

    justify-content: center;
    gap: 2rem;

    list-style-type: none;

    font-size: 1em;
    text-align: end;

    flex-direction: column;
  }

  .nav-container #nav-list ul.hidden {
    display: flex;
  }

  .nav-container #nav-list ul a {
    padding: 0.7rem;
  }

  .nav-container #menu-toogle {
    display: flex;
    align-items: center;
  }

  .nav-container #menu-toogle img {
    width: 1.3rem;
  }

  #main #main-content {
    width: 100%;
  }

  #main-content .section {
    padding-block: 1.8rem;
    width: 100%;
  }

  #main-content .section .title-sect {
    margin-bottom: 0.5rem;
    font-size: 0.9em;
  }

  #main #jumbotron {
    padding-block: 2.8rem;
  }

  #main #jumbotron .side1 {
    padding-inline: 2rem;
  }

  #main #jumbotron .side1 .jumbotron-content h1 {
    margin-bottom: 0.8rem;
    font-size: 1.4em;
  }

  #main #jumbotron .side1 .jumbotron-content a {
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;

    font-size: 0.5rem;
    font-weight: 500;
  }

  #main #jumbotron .side1 .jumbotron-content a:last-of-type {
    margin-left: 0.3rem;
  }

  #main #jumbotron .side1 a img {
    margin-left: 0.3rem;
    width: 0.5rem;
  }

  #main #jumbotron .side2 .jumbotron-content img {
    width: 7rem;
  }

  #main #jumbotron .side2 .jumbotron-content .cap-jumbotron {
    box-sizing: border-box;
    padding: 0.2rem 1.3rem 0.2rem 0.8rem;

    font-size: 0.5em;
    font-weight: 500;
  }

  #main-content #popular .pop-menu {
    margin-top: 1rem;
    position: relative;

    display: flex;
    gap: 0 0.5rem;
    height: 7.5rem;
  }

  #main-content #popular .pop-menu .shape-menu {
    height: 3rem;
    width: 21rem;

    border-radius: 0 0 0.5rem 0.5rem;
  }

  #main-content #popular .pop-menu a .menu {
    padding-inline: 0.5rem;
    padding-block: 0.5rem;

    width: 6rem;
    height: 6.5rem;

    background-color: #cfe3dc;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);

    border-radius: 0.5rem;
  }

  #main-content #popular .pop-menu a .menu .img-menu {
    position: relative;

    width: 100%;
    height: 5rem;

    border-radius: 0.5rem;
  }

  #main-content #popular .pop-menu a .menu .img-menu .price {
    padding: 0.3rem 0.2rem;
    z-index: 99;

    border-radius: 0.8rem 0 0.8rem 0.8rem;
  }

  #main-content #popular .pop-menu a .menu .img-menu .price p {
    font-size: 0.5em;
    font-weight: 500;
  }

  #main-content #popular .pop-menu a .menu .img-menu .img {
    width: 85%;
    height: 3rem;
  }

  #main-content #popular .pop-menu a .menu div:last-of-type {
    margin-block-start: 0.4rem;
    padding-inline: 0.4rem;
  }

  #main-content #popular .pop-menu a .menu div:last-of-type h5 {
    font-size: 0.55em;
  }

  #main-content #popular .pop-menu a .menu div:last-of-type p {
    font-size: 0.45em;
  }

  #main-content .discover {
    display: flex;
    gap: 0 1.3rem;
  }

  #main-content .discover div.img {
    width: 35%;
    height: 12rem;

    border-radius: 0 0.8rem 0.8rem 0;
  }

  #main-content .discover div.img-caption {
    padding-block: 3rem;
    gap: 0.7rem 0;

    width: 55%;
    height: 12rem;
  }

  #main-content .discover div.img-caption h3 {
    margin: 0;
    font-size: 1.35em;
  }

  #main-content .discover div.img-caption p {
    width: 90%;
    font-size: 0.55em;
  }

  #main-content .discover div.img-caption a {
    padding-block: 0.3rem;
    padding-inline: 0.8rem;
    border-radius: 0.3rem;
    font-size: 0.55em;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  }

  #main-content #product .menu-items {
    margin-top: 1.5rem;
  }

  #main-content #about .advantage {
    gap: 0 0.5rem;
  }

  #main-content #about .advantage .adv {
    padding-block: 1rem;
    width: 7rem;
    height: 8rem;
  }

  #main-content #about .advantage .adv .adv-img img {
    width: 3rem;
    filter: invert(35%) sepia(18%) saturate(1443%) hue-rotate(116deg) brightness(93%) contrast(92%);
  }

  #main-content #about .advantage .adv .adv-capt {
    margin: 0.3rem auto 0 auto;
    width: 80%;
  }

  #main-content #about .advantage .adv .adv-capt h4 {
    margin: 0;
    font-size: 0.7em;
  }

  #aside {
    display: block;
    position: unset;
    padding-block: 1.5rem;
    padding-inline: 4.5rem;

    z-index: 0;
    width: 100%;

    border-radius: 0;
    box-shadow: none;
  }

  #aside .aside-content {
    gap: 1.5rem 0;
    height: fit-content;

    align-items: center;
    justify-content: center;
  }

  #aside .aside-content .content-header .logo-img {
    height: fit-content;

    display: flex;
    justify-content: center;
  }

  #aside .aside-content .content-header .logo-img img {
    width: 8rem;
    height: 2.5rem;
  }

  #aside .aside-content .content-header p {
    font-size: 0.6em;
  }

  #aside .aside-content .content-main {
    display: flex;
    flex-wrap: wrap;
    width: 18rem;

    gap: 0.5rem 0;
  }

  #aside .aside-content .content-main .service {
    flex-wrap: wrap;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;

    width: fit-content;
    height: fit-content;

    font-size: 0.45rem;

    align-items: center;
    border-radius: 0.3rem;
  }

  #aside .aside-content .content-main .service .service-img {
    width: 15%;
  }

  #aside .aside-content .content-main .service .service-img img {
    width: 1.5rem;
  }

  #aside .aside-content .content-main .service .service-caption {
    width: 85%;
  }

  #aside .aside-content .content-main .service .service-caption h6.service-title {
    padding-inline-start: 0.5rem;
    padding-block-end: 0.3rem;

    font-size: 1.6em;
  }

  #aside .aside-content .content-main .service .service-caption p.service {
    padding-inline-start: 0.5rem;
    font-size: 1.3em;
  }

  #aside .aside-content .content-footer {
    gap: 0 0.3rem;
  }

  #aside .aside-content .content-footer a .sosmed .fab {
    width: 2rem;
    height: 2rem;
  }

  #start {
    box-sizing: border-box;
    padding-block: 0.5rem;

    width: 100%;
    background-color: #1b6d5a;
  }

  #start h4 {
    font-size: 0.5em;
    text-align: center;
    text-transform: uppercase;
    color: #e2ede9;
  }
}
